/* =========BASE-STYLES============ */
:root {
  --color-green: #819b57;
  --color-green-dark: #465929;
  --color-light: #faf4ea;
  --color-black: #31261a;
}

body {
  color: var(--color-black);
  background-color: var(--color-light);
}

ul {
  list-style-type: none;
}

/* ============HEADER============== */
.header {
}
.header-nav {
}
.header-logo-link {
}
.header-logo-img {
}
.header-list {
}
.header-item {
}
.header-link {
  color: var(--color-light);
}

.header-link:hover,
.header-link:focus {
  color: var(--color-green);
}
.header-btn {
  color: var(--color-light);
  border-radius: 8px;
  border: 2px solid var(--color-green);
  background-color: var(--color-green);
}

.header-btn:hover,
.header-btn:focus {
  background-color: transparent;
  color: var(--color-green-dark);
}

/* =============================== */

/* ============HERO============== */

.hero {
}
.hero-title {
  color: var(--color-green);
}
.hero-title-span {
  color: var(--color-light);
}

/* =============================== */

/* ============TRADITIONS============== */
.traditions {
}
.traditions-list {
  background-color: var(--color-green);
}
.traditions-item {
  color: var(--color-light);
}
.traditions-title {
}
.traditions-text {
}
.traditions-text-span {
  color: var(--color-green);
}
.traditions-img {
}

/* =============================== */

/* ============CHEFS============== */

.chefs {
}
.chefs-title {
  color: var(--color-black);
}
.chefs-title-span {
  color: var(--color-green-dark);
}
.chefs-list {
}
.chefs-item {
}
.chefs-article {
}
.chefs-article-title {
}
.chefs-article-text {
}

/* ================================== */

/* ============FORMATS=============== */
.formats {
}
.formats-title {
}
.formats-list {
}
.formats-item {
}
.formats-article {
}
.formats-article-title {
  color: var(--color-light);
}
.formats-article-text {
  color: var(--color-light);
}
/* ================================== */

/* ============CONTACTS============== */
.contacts {
}
.contacts-title {
}
.contacts-iframe {
}

/* ================================== */

/* ============FOOTER================ */
.footer {
}
.footer-img {
}
.footer-nav {
}
.footer-logo-link {
}
.footer-list-nav {
}
.footer-item-nav {
}
.footer-link-nav {
  color: var(--color-light);
}
.footer-address {
}
.footer-address-list {
}
.footer-address-item {
}
.footer-address-link {
  color: var(--color-light);
}
.footer-list-icon {
}
.footer-item-icon {
}
.footer-link-icon {
}
.footer-confid-link {
  color: var(--color-light);
}
.footer-confid-text {
  color: #a18268;
}

/* ================================== */
